:root {
    --primary-color: #055a05;
    --accent1-color: #264653;
    --accent2-color: #24376b;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    gap: 25px;
    padding: 20px;
}

header img {
    width: 100px;
}

.navigation {
    background-color: var(--primary-color);
    padding: 6px;
    border-radius: 8px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
}

h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    font-family: var(--heading-font--);
    color: white;
    background-color: var(--accent1-color);
    padding: 20px;
    opacity: 90%;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
    background-color: var(--accent2-color);
    padding: 14px;
    opacity: 80%;
}

.hero article img {
    float: right;
    width: 100px;
    margin-right: 10px;
}

section h2 {
    margin-top: 10px;
    text-align: center;
    background-color: #24376b;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

.history-section {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    gap: 25px;
    align-items: center;
    padding: 20px;
}

.history-left,
.history-right {
    text-align: justify;
    color: black;
}

.history-image {
    display: flex;
    justify-content: center;
}

.history-image img {
    width: 300px;
    height: 190px;
    object-fit: cover;
    padding: 10px;
    border-radius: 30px;
}

.adventure-images {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 25px;
    align-items: center;
    padding: 20px;
}

.figure-section {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding: 10px;
}

.figure-section figure {
    min-width: 100px;
    flex-shrink: 0;
    text-align: center;
}

.figure-section img {
    width: 250px;
    border-radius: 30px;
    object-fit: cover;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 10px;
}

.socialmedia a {
    justify-content: space-around;
}

.socialmedia img {
    width: 40px;
    background-color: white;
}